html
  head
    meta(charset='utf-8')

    title jkke.co

    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href='stylesheet.css' type='text/css' rel='stylesheet')
    link(rel='icon', type='image/png', href='favicon.png')

  body
    header
      h1 jkke.co

    section(id='content')
      h2 About Us
      p Welcome to jkke.co, we're a team of developers that work together. If you're interested in checking us out, please, jump onto our GitHub repository

    section(id='social')
      a(href='https://github.com/jkke')
        p [github.com](https://github.com/jkke)

    section(id='whoarewe')
      h2 Who are we
      div
        h3 jakeoid
        p Hi, the names Jake and I create web and other cool junk. You can find me on many social media websites. A full list of which can be found 
          a(href='https://jakeoid.com')
            [here](https://jakeoid.com)
      div
        h3 jekkedaman
        p Hi, im Jacob and i'm the original owner of this domain. If you think this is cool, you should checkout my personal site 
          a(href='https://jekkedaman.me')
            [here](https://jekkedaman.me)

    section(id='source')
      h2 Source

      p If you're interested in the source of this website feel free to stalk us on 
        a(href='#')
          [Github](https://github.com/jkke/landing)

    footer
      span This website was created by the jkke team!